* {
  margin: 0;
  padding: 0;
}

html {
  --transition: .2s;
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100dvh;
  background-color: hsl(240, 40%, 37%);
  color: white;
}

.container {
  position: relative;
}

.playfield {
  border: 2px solid black;
  border-radius: 6px;
}

.hud-container {
  max-width: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: sans-serif;
}

.score-container,
.best-container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.score-container > span {
  width: 4rem;
  text-align: center;
}

.dialog {
  display: none;
}

.show-dialog {
  display: block;
  background-color: lightblue;
  color: black;
  border: 1px solid gray;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  max-width: 95%;
  transition: display var(--transition);

  p {
    margin: 1rem 0;
  }
}

.container:has(.show-dialog) .playfield {
  filter: brightness(.6);
  transition: filter var(--transition);
}

.dialog-results-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.start-btn {
  display: none;
}

.show-start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  background-color: cornflowerblue;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
}

.start-btn:hover {
  cursor: pointer;
}

.start-btn img {
  max-width: 100%;
  color: white;
}
