* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --transition: .2s;
  --menu-bg: lightblue;
  --text-color: #21121c;
  --start-btn-color: cornflowerblue;
  --start-btn-hover: hsl(219, 79%, 73%);
  --start-btn-active: hsl(219, 39%, 47%);
  --border-color: #FFFBDA;
  --dialog-bg: #C0D6E8;
  --footer-bg: #222831;
  --highlight-color: hsl(348, 89%, 66%);
  --highlight-hover: hsl(348, 89%, 60%);
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  width: 100vw;
  background-color: hsl(240, 40%, 37%);
  color: white;
  padding: 0 4rem;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  font-display: optional;
  font-size: 3rem;
  justify-self: center;
  grid-column-end: 3;
}

.audio-switch-btn {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  border: 2px solid var(--border-color);
  background-color: var(--dialog-bg);
  box-shadow: 2px 3px #999;
  justify-self: end;

  img {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.audio-switch-btn:hover {
  cursor: pointer;
  background-color: var(--start-btn-color);
}

.audio-switch-btn:active {
  box-shadow: 2px 2px #666;
  transform: translateY(4px);
}

.container {
  position: relative;
  width: 900px;
  height: 500px;
}

.container * {
  font-family: "Poetsen One", sans-serif;
}

.loader-wrapper {
  display: none;
}

.show-loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, #A0153E 33%, hsl(348, 100%, 66%) 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg)}
}

.playfield {
  border: 2px solid var(--border-color);
  border-radius: 6px;
  -webkit-box-shadow: 0px 13px 22px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 22px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 22px 5px rgba(0,0,0,0.75);
  width: 900px;
  height: 500px;
}

.hud-container {
  --font-size: 1.5rem;

  position: absolute;
  right: 5%;
  top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: bold;
  font-family: sans-serif;
}

.score-container,
.best-container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.score-container > span,
.best-container > span {
  width: calc(var(--font-size) * 3.5);
  text-align: center;
}

.dialog {
  display: none;
}

.show-dialog {
  display: block;
  background-color: var(--dialog-bg);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  max-width: 95%;
  transition: display var(--transition);
  animation: popup .4s ease-in forwards;

  p {
    margin: 1rem 0;
  }
}

.show-dialog .dialog-heading {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
}

.container:has(.show-dialog) .playfield {
  filter: brightness(.6);
  transition: filter var(--transition);
}

.dialog-results-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.start-btn {
  display: none;
}

.show-start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--start-btn-color);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  transition: background-color var(--transition);
}

.start-btn img {
  width: 100px;
  height: 100px;
}

.start-btn:hover,
.start-btn:focus,
.restart-btn:hover,
.restart-btn:focus {
  cursor: pointer;
  background-color: var(--start-btn-hover);
}

.start-btn:active,
.restart-btn:active,
.restart-btn:active {
  background-color: var(--start-btn-active);
}

.restart-btn {
  margin: 0 auto;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.restart-btn img {
  width: 4rem;
  height: 4rem;
}

.new-record {
  color: #00BCD4;
  text-shadow: 0 0 15px #CDDC39, 0 0 25px #CDDC39;
  animation: glow 1.5s linear infinite;
}

.controls-tip {
  display: none;
}

.show-controls-tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  p {
    font-family: "Wellfleet", monospace;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
  }
}

.control-keys {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 2rem;
  }
}

.footer {
  font-family: sans-serif;
  font-size: .9rem;
  background-color: var(--footer-bg);
  color: var(--border-color);
  width: 100vw;
  padding: 1.2rem 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--border-color);
  transition: color var(--transition);

  a {
    color: var(--highlight-color);
  }
  a:hover {
    color: var(--highlight-hover);
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-align: center;
  }
}

.creator-info {
  align-self: flex-end;
}

.footer-info {
  list-style: none;
}

.footer-info li {
  margin-top: .5rem;
  text-align: center;
}

.contact-list {
  display: flex;
  gap: .7rem;
  margin-bottom: 1rem;
}

.contact-list li {
  list-style: none;
}

.contact-list img {
  width: 1.7rem;
  height: auto;
}

.game-title {
  font-family: "Poetsen One", sans-serif;
}

.svg-icon {
  stroke: var(--border-color);
  fill: none;
  transition: stroke var(--transition);
}

.svg-icon:hover {
  stroke: var(--highlight-hover);
}

@keyframes popup {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  90% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 1600px) {
  .container {
    width: 700px;
    height: 400px;
  }
  .playfield {
    width: 700px;
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    width: calc(100vw * .95);
    height: calc(100dvh * .4);
  }

  .playfield {
    width: calc(100vw * .95);
    height: calc(100dvh * .4);
  }

  .show-controls-tip {
    top: 30%;
    p {
      font-size: 1.3rem;
    }
  }

  .control-keys img {
    animation: pulse 1s linear infinite;
  }

  .show-dialog .new-record {
    font-size: 1rem;
    margin: 0;
  }
  
  .footer {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    margin-bottom: 0;
  }

  .audio-switch-btn img {  
    width: 1.2rem;
    height: 1.2rem;
  }

  .hud-container {
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  /* .show-start-btn,
  .show-loader {
    top: 40%;
  } */

  .svg-icon {
    width: 16px; 
    height: 16px;
  }

  .show-dialog {
    padding: 1rem;
    font-size: 1.4rem;
    max-width: 100%;
    min-width: 95%;
    max-height: 95%;
    top: 40%;
  }

  .show-dialog .dialog-heading {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
  }

  .restart-btn {
    width: 2rem;
  }

  .footer {
    font-size: .6rem;

    h2 {
      font-size: 1rem;
    }
  }

  .creator-info {
    flex-shrink: 1.7;
  }
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
